argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
boto3==1.21.9
botocore==1.24.9
Cartopy @ file:///tmp/build/80754af9/cartopy_1612289802746/work
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
filelock==3.6.0
Fiona==1.8.21
fonttools==4.29.1
fuzzywuzzy==0.18.0
geopandas==0.10.2
huggingface-hub==0.4.0
idna==3.3
imageio==2.16.1
importlib-metadata==4.11.2
importlib-resources==5.4.0
ipykernel==6.9.1
ipython==7.32.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
munch==2.5.0
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.7
notebook==6.4.8
numpy==1.21.5
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plotly==5.6.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.11.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyproj==3.2.1
pyrsistent==0.18.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1644593068012/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-Levenshtein==0.12.2
pytorch-transformers==1.1.0
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
regex==2022.1.18
requests==2.27.1
s3transfer==0.5.2
sacremoses==0.0.47
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
semantic-text-similarity==1.0.3
Send2Trash==1.8.0
sentence-transformers==2.2.0
sentencepiece==0.1.96
Shapely==1.8.1.post1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.3.1
statsmodels==0.13.2
strsim==0.0.3
tenacity==8.0.1
terminado==0.13.1
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tokenizers==0.11.6
torch==1.10.2
torchvision==0.11.3
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094704591/work
tqdm==4.63.0
traitlets==5.1.1
transformers==4.16.2
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
wikipedia==1.4.0
zipp==3.7.0
